
table {
  display: block;
  margin: 20px auto;
  max-width: 200px;
}

table tr td {
  width: 10px;
  height: 10px;
  border: 1px solid gray;
}

.paletteDiv table tr td {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}

.activeColorsDiv table tr td {
  width: 60px;
  height: 20px;
  border: 1px solid gray;
}
